<%- include("partials/header") %>

<div id="basket" class="container justify-content-center d-flex">
  <div class="row my-0 justify-content-center">
    <div class="col text-center">
      <h1 id="qmark">?</h1>
    </div>
  </div>
</div>
<div id="pool-rules" class="container p-3">
  <div class="row my-2 mx-4">
    <div class="col text-center">
      <h1>Pool Rules</h1>
      <p id="overview">We set up this pool as a fun, socially distant way to engage with friends & family as
        we anticipate the arrival of our little bundle of <s>poop</s> joy. We're also accepting donations via the pool
        to our "diaper fund" in lieu of a registry, as we've thankfully acquired nearly everything else we need 
        via generous hand-me-downs from you all and our local community. There's no pressure to participate or donate. 
        Feel free to follow along just for fun!
      </p>
    </div>
  </div>  
  <div class="row my-2 mx-4 justify-content-center">
    <div class="col-md-5">
      <hr>
    </div>
    <div class="col-md-1 text-center">
      <i class="fas fa-3x fa-swimmer"></i>
    </div>
    <div class="col-md-5">
      <hr>
    </div>
  </div>
    <div class="row my-2 mx-4 justify-content-center">
      <div class="col-md-5">
        <h3>HOW TO PLAY</h3>
        <ol>
          <li>Try to predict Baby Melnyk's birthday stat line: date, length, weight, & sex.</li>
          <li>Click the button below to submit your prediction before October 1st.</li>
          <li>Optionally, send a donation of $5 or more via Venmo to @jared-melnyk, or give cash to J&M.</li>
          <li>$5 of each donation goes toward the prize pool, and bonus donations will be split 50/50 between 
            the diaper fund and <a href="https://www.chicagosfoodbank.org/" target="_blank" 
            class="text-secondary">Greater Chicago Food Depository</a>.</li>
          <li>Share this website with any friends & family who may want to play.</li>
          <li>Follow along on the Prediction Board below until the big day!</li>
        </ol>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h3>HOW TO WIN</h3>
        <ol>
          <li>Once Baby Melnyk is born, predictions will be ranked by accuracy in each category.</li>
          <li>Players will earn a numeric score for each category rank, e.g. 4th closest = 4 pts.</li>
          <li>There is no benefit to predicting over or under the actual value.</li>
          <li>The player with the lowest point total across all categories wins the prize pool!</li>
          <li>Note: only players who donated $5 or more are eligible to win the cash.</li>
          <li>Hint: Melissa's due date is 10/15/2020. Good luck!</li>
        </ol>
      </div>
    </div>
    <div class="row mx-2 my-4">
      <div class="col text-center">
        <a class="btn btn-lg btn-outline-light" href="/submitGuess" role="button">Submit Your Prediction</a>
      </div>
    </div>
  </div>
</div>
<div id="guessTable" class="container justify-content-center text-center">
  <h1>Prediction Board</h1>
  <table class="table table-responsive-md my-4">
    <thead class="thead-light text-left">
      <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Length</th>
        <th scope="col">Weight</th>
        <th scope="col">Sex</th>
      </tr>
    </thead>
    <% allGuesses.forEach(function(guess) { %>
      <% let d = new Date(guess.birthDate); %>
      <% let t = new Date(guess.birthTime); %>
      <% console.log(guess.birthTime); %>
      <% let displayDate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate(); %>
      <% let displayTime = t.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); %>
      <tbody class="text-left">
        <tr>
          <th scope="row"><%- guess.guesserName %></th>
          <td><%- displayTime %> on <%- displayDate %></td>
          <td><%- guess.babyLength %> in</td>
          <td><%- guess.babyWeight.pounds %> lbs <%- guess.babyWeight.ounces %> oz</td>
          <td><%- guess.babySex %></td>
        </tr>
      </tbody>
    <% }); %>
  </table>
</div>

<%- include("partials/footer") %>
